# MySQL

In [ ]:
import mysql.connector

In [ ]:
### Create Connection
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",  # your username
    passwd = ""     # your password
)

In [ ]:
### Creating a Database
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",  
    passwd = ""     
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")
# Database Name is mydatabase

In [ ]:
### Check if Database Exists
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",  
    passwd = ""     
)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

# Return a list of your system's databases
for x in mycursor:
  print(x)

In [ ]:
### Try connecting to the database "mydatabase"
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",  
    passwd = "",    
    database = "mydatabase"
)
# If the database does not exist, you will get an error

In [ ]:
### Creating a Table
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",  
    passwd = "",    
    database = "mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [ ]:
### Check if Table Exists
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",  
    passwd = "",    
    database = "mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

In [ ]:
### Primary Key
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",  
    passwd = "",    
    database = "mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute(sql = "CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")
# If the table already exists, use the ALTER TABLE keyword:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
### Insert Into Table
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")
# mydb.commit(). It is required to make the changes,
#otherwise no changes are made to the table.

#Insert Multiple Rows
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "was inserted.")

#  return the ID: 
lastID = mycursor.lastrowid

In [ ]:
### Select From a Table
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
# myresult = [item for  item in mycursor.fetchall()]
for x in myresult:
  print(x)

#Selecting Columns
mycursor.execute("SELECT name, address FROM customers")


# If you are only interested in one row, you can use the fetchone() method.
# The fetchone() method will return the first row of the result:
myresult = mycursor.fetchone()
print(myresult)

In [ ]:
### Select With a Filter
sql = "SELECT * FROM customers WHERE address = (%s)"
addr = 'Park Lane 38'
val = (addr,)
mycursor.execute(sql, val)
myresult = mycursor.fetchall()

#Select records where the address contains the word "way"
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

In [ ]:
### Sort the Result

#Sort the result alphabetically by name
sql = "SELECT * FROM customers ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()

# Sort the result reverse alphabetically by name
sql = "SELECT * FROM customers ORDER BY name DESC"

In [ ]:
### Delete Record
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

#Escape values by using the placeholder %s method
sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )
mycursor.execute(sql, adr)

In [ ]:
### Delete a Table
sql = "DROP TABLE customers"
mycursor.execute(sql)

# Drop Only if Exist
sql = "DROP TABLE IF EXISTS customers"
mycursor.execute(sql)

In [ ]:
### Update Table
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

# Escape values by using the placholder %s method
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")
mycursor.execute(sql, val)
mydb.commit()

In [ ]:
### Limit the Result

#Select the 5 first records in the "customers" table:
mycursor.execute("SELECT * FROM customers LIMIT 5")
myresult = mycursor.fetchall()

#Start From Another Position
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")
#Start from position 3, and return 5 records

In [ ]:
### Join Two or More Tables
"""
Consider you have a "users" table and a "products" table::
users :
{ id: 1, name: 'John', fav: 154},
{ id: 2, name: 'Peter', fav: 154},
{ id: 3, name: 'Amy', fav: 155},
{ id: 4, name: 'Hannah', fav:},
{ id: 5, name: 'Michael', fav:}
products :
{ id: 154, name: 'Chocolate Heaven' },
{ id: 155, name: 'Tasty Lemons' },
{ id: 156, name: 'Vanilla Dreams' }
"""
# Join users and products to see the name of the users favorite product
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

# Select all users and their favorite product
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

# Select all products, and the user(s) who have them as their favorite
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"